#car:hover{

    background-color: green;
}
.CAR:HOVER
    .bg{
        height: 200px;
       background-color: beige;
        cousor: grab;}
    
    form{
        height: 0cap;
        
    }